body{
	
	background:#f5f8f9;
	
	font-family: 'Lora', serif;
	margin:none;
}

/*NAVBAR SECTION ================*/
.bar{
	width: 30px;
    height: 3px;
    background-color: #6f6f6f;
    margin: 5px 5px;
    border-radius:3px;
    border:2px solid #6f6f6f;


}

.s{
	background:none;
	
	padding:3px;
	float:right;
	outline:none;
	border:none;
	padding-top:5vh;
	-webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;

}

.s:active{
	background:none;
}


.navLi{
	float:right;
	padding-top:8vh;
	text-align: center;
	-webkit-transition: all 0.4s ease;
   transition: all 0.5s ease;
 	min-width:12%;

}




.navA{
	color:#5f5e5e;
	text-align:center;
	text-decoration:none;
	vertical-align:center;
	font-size:1.3vw;
	font-family: 'Taviraj', serif;
	float:right;
	width:100%;
	padding:10px;
	padding-right:20px;

}

.navA:hover{
	color:black;
	background: white !important;
	text-decoration: none;
}

.navA:focus{
	background:white !important;
}






#logo{
	float:left;
	margin-left:10vw;
	height:19vh;
	transition: all .5s ease;


}

#navBar{
	background:white;
	color:lightblue;
	width:100%;
	border-radius:0;
	margin-bottom:0;
	padding-right:10%;
	border:0;
	height:19vh;
	z-index:100;
	position:absolute;
	position:fixed;
	left:0;
	top:0;
   -webkit-transition: all 0.5s ease;
   transition: all .5s ease;
}

#brand{
	padding:0;
	width:15%;
}

.shrink{
	height:10vh;
	padding-top:1vh;
}

#hamburger{
	display:none;
}

.show{
	display:block;
}

.hide{
	display:none;
}

.move{
	margin-top:10vh;
}

#drop{
	position:fixed;
	width:80%;
	margin-left:10%;
	border-radius:10px;
	-webkit-transition: all 0.5s ease;
   	transition: all .5s ease;


}

.dropdown{
	width:100%;
	display:block;
	background:white;
	color:black;
	text-align:center;
	z-index:10;


    

}



.dropdowna{
	width:100%;
	color:black;
	float:left;
	text-align:center;
	padding:20px;
	background:#f5f5f5;
	font-weight:bold;
	border-bottom:1px solid rgba(134, 134, 134, 0.12);
	display:none;

}


.dropdowna:hover{
	text-decoration: none;

}

#spacer{
	height:19vh;
   -webkit-transition: all 0.5s ease;
   transition: all .5s ease;

}

#space{
	height:19vh;
	float:left;
	display:block;
}


/*NAVBAR SECTION ================*/

html{
	background:#f0f0f0;
}

.whole{

	margin-top:21vh;
	width:92%;
	margin-left:4%;
	padding-bottom:10vh;
}

h1{
	margin-top:0;
	text-align:center;
	font-size:10vh !important;
	max-width:100%;
}

p{
	margin:0;
	padding:10px;
	font-size:3vh;
	
}

button{
	font-size:4vh;
	border-radius:10px;
	padding:20px;
	margin-left:5vw;
	padding-bottom:5px;
	padding-top:5px;
	background:linear-gradient(180deg, #2B6D12, #73B55B);
	

}



button:focus{
	outline:none;
}

.back{
	background:linear-gradient(180deg,#4591b7, #237095);
}

.back:hover{
	background:linear-gradient(180deg, #237095,#4591b7);

}



button:hover{
	background:linear-gradient(180deg, #73B55B, #2B6D12);
}



.big{
	font-size:4vh;
	padding:20px;
}

#create{
	float:right;
	margin-left:0;
	margin-right:5vw;
	color:black;
}

#create a{
	color:black;
	font-size:2.3em;
}

#back a{
	color:black;
	font-size:2.3em;
}


ul{
	margin-bottom:8vh;
}

