
body{
	font-family: 'Lora', serif;
	margin:none;
}

/*NAVBAR SECTION   =====================================================*/

#linkDrop:hover{
	
}

#linkDrop{

	/*color:#535151;*/
	color:white;
	text-align:center;
	text-decoration:none;
	vertical-align:center;
	font-size:1.3vw;
	font-family: 'Taviraj', serif;
	float:right;
	width:100%;
	padding:10px;
	padding-right:17px;
	cursor:pointer;
}

.dropForLinks{
	float:left;
	width:25%;
	margin-left:65%;
}

.dLink{

	width:100%;
	display:none;
	background:#dadada;
	font-size:1.6em;
	padding:10px;
	float:left;
	font-family: 'Taviraj', serif;
	border-bottom:1px solid #8a8a8a;

}

.bar{
	width: 30px;
    height: 3px;
    background-color: #6f6f6f;
    margin: 5px 5px;
    border-radius:3px;
    border:2px solid #6f6f6f;


}

.s{
	background:none;
	
	padding:3px;
	float:right;
	outline:none;
	border:none;
	padding-top:5vh;
	-webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;

}


.navLi{
	float:right;
	padding-top:8vh;
	text-align: center;
	-webkit-transition: all 0.4s ease;
   transition: all 0.5s ease;
 	min-width:12%;

}




.navA{
	color:#535151;
	text-align:center;
	text-decoration:none;
	vertical-align:center;
	font-size:1.3vw;
	font-family: 'Taviraj', serif;
	float:right;
	width:100%;
	padding:10px;
	padding-right:17px;
	color:white;

}

.navA:hover{
	color:black;
	text-decoration: none;
}

.navA:focus{

}






#logo{
	float:left;
	margin-left:6vw;
	height:19vh;
	transition: all .5s ease;
}

#navBar{
	background:none;
	color:lightblue;
	width:100%;
	border-radius:0;
	margin-bottom:0;
	padding-right:2%;
	border:0;
	height:10vh;
	/*z-index:100;*/
   -webkit-transition: all 0.5s ease;
   transition: all .5s ease;
}

#brand{
	padding:0;
	width:15%;
}

#hamburger{
	display:none;
}

.show{
	display:block;
}

.hide{
	display:none;
}


#drop{
	position:fixed;
	width:80%;
	margin-left:10%;
	border-radius:10px;
	-webkit-transition: all 0.5s ease;
   	transition: all .5s ease;


}

.dropdown{
	width:100%;
	display:block;
	background:white;
	color:black;
	text-align:center;
	z-index:10;


    

}



.dropdowna{
	width:100%;
	color:black;
	float:left;
	text-align:center;
	padding:20px;
	background:#f5f5f5;
	font-weight:bold;
	border-bottom:1px solid rgba(134, 134, 134, 0.12);
	display:none;

}


.dropdowna:hover{
	text-decoration: none;

}

